<head>
    <meta charset="UTF-8">
    <head>
      <title></title>
      <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </head>
    <!-- <style type="text/css">
      .mySlides {
        display: none;
      }
    </style> -->
  </head>

			<h1>HTTP 422 ERROR: UNPROCESSIBLE ENTITY</h1>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->