<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Cartoonify App </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="h1">Cartoonify</h1>
                <h2 class="h1">Generate Cartoon images with Cartoonify!</h2>
			</div></br></br></br>
			<h2 class="word">Upload your Image!</h2>
			<form method="post" enctype="multipart/form-data">
				<p><input type="file" id="file" name="file"><input type=submit value=Upload></p>
				<img src="data:image/jpeg;base64,{{ img_data }}" id="img-upload" alt="img_data" class="img-upload"/>
			</form>
	</body>
</html>
