<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Cartoonify App </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="h1">Cartoonify</h1>
                <h2 class="h1">Generate Cartoon images with Cartoonify!</h2>
			</div></br></br></br>
			<h2 class="word">Upload your Image!</h2>
				<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">

                    <input placeholder="Image" type="file" id="file" name="file" required>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				   	<button type='button' id ='retrieve'>Upload Image</button>
				   <img src="" id="myimg" />
				<script>
				  $(document).ready(function() {
					 $('#retrieve').click(function(){
						 $.ajax({
						 url: "{{ url_for ('output') }}",
						 type: "GET",
						 success: function(response) {
							 $("#myimg").attr('src', '/static/' + response);
						},
						error: function(xhr) {
						  //Do Something to handle error
					   }
					   });
					 });
				  });
				</script>
					<a href="{{ url_for('logout') }}" class="btn">Logout</a>
		</div>
		</div>

	</body>
</html>
