<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Cartoonify App </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Cartoonify</h1>
                <h2 class="word">Generate Cartoon images with Cartoonify!</h2>
			</div></br></br></br>
			<h2 class="word">Upload your Image!</h2>
				<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">

                    <input placeholder="Image" type="file" id="file" name="file" required>
					<input type="submit" class="btn" value="Upload"></br>
				</form>
				<form action="/show_image" target="_blank">
					<input type="submit" value="Show Image" />
				</form>
			</h2>

		</div>
		</div>
	</body>
</html>
